In [3]:
import pandas as pd 

filename_1 = r'./databottle/prices_round_2_day_-1.csv'
filename_2 = r'./databottle/prices_round_2_day_0.csv'
filename_3 = r'./databottle/prices_round_2_day_1.csv'

file_1 = pd.read_csv(filename_1, sep=';')  ## The used separator is ;
file_2 = pd.read_csv(filename_2, sep=';')  ## The used separator is ;
file_3 = pd.read_csv(filename_3, sep=';')  ## The used separator is ;

file_2['timestamp'] = file_2['timestamp'].apply(lambda x: x + 1000000)
file_3['timestamp'] = file_3['timestamp'].apply(lambda x: x + 2000000)


data = pd.concat([file_1, file_2, file_3])  ## Three days merged into 1 frame
data.reset_index(inplace=True)
data

,index,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY
0,0,0,1200.00,1.5,10.5,-2.0,2500.0000,79.00000,-1
1,1,100,1201.75,1.5,9.5,-2.0,2499.4197,79.00410,-1
2,2,200,1201.75,1.5,9.5,-2.0,2498.8457,79.00821,-1
3,3,300,1201.75,1.5,9.5,-2.0,2498.2780,79.01234,-1
4,4,400,1201.75,1.5,9.5,-2.0,2497.7166,79.01649,-1
...,...,...,...,...,...,...,...,...,...
29998,9996,2999600,1036.25,0.9,9.5,-5.0,2299.9436,69.93549,1
29999,9997,2999700,1036.25,0.9,9.5,-5.0,2299.9556,69.95153,1
30000,9998,2999800,1036.25,0.9,9.5,-5.0,2299.9690,69.96762,1
30001,9999,2999900,1034.25,0.9,9.5,-5.0,2299.9840,69.98378,1
30002,10000,3000000,1035.25,0.9,9.5,-5.0,2300.0000,70.00000,1

In [57]:
# Multiple linear Regression

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

regression = LinearRegression()


x = data[['SUNLIGHT']]
x_train = x[0:20000]
x_test = x[20000:]

y = data['ORCHIDS']
y_train = y[0:20000]
y_test = y[20000:]

poly = PolynomialFeatures(degree = 1)
X_train_poly = poly.fit_transform(x_train)

model = LinearRegression()
model.fit(X_train_poly, y_train)

X_test_poly = poly.fit_transform(x_test)
model.score(X_test_poly, y_test)

-5.487261966481123